*{
	margin: 0;padding: 0;
}
.aq{
	text-decoration: none;
	color: #999999;
}
a:hover{
	color:#23AC38;
}
.top-title{
	width: 100%;height:35px;
	background:#E3E4E5;
	}
.top-title-center{
	width:1242px;height:30px;
	background:#E3E4E5;
	margin: auto;
}
.title-li1{
	float:left;
	color: #999999;
	font-size: 13px;list-style: none;
	padding: 9px;
}
.title-li2{
	float:right;
	list-style: none;
	color: #999999;
	font-size: 13px;
	list-style: none;
	padding: 9px;margin-left:10px;
}
.top-mod-header{
	width:100%;
	height:180px;
	/*border: solid 1px red;*/
}
.top-main-header{
	width:1242px;height:142px;
	border: solid 1px red;
	position: absolute;
	left:50%;
	margin-left:-630px;
	
	
}
.top-main-left{
	width:220px;
	height:112px;
	float: left;
}
.header-tools-clearfix{
	 width:940px;
	 height:102px;
	 float: right;
	 position: relative;
}
.suggest-box{
	width:720px;height:72px;
	position: absolute;
	bottom: 16px;right:114px;
}
.suggest-box-son{
	width:542px;height:86px;
	position: absolute;
	/*background: orangered;*/
}
#__mall_search_kw__{
	width:464px;
	height:42px;
	border: 1px solid #23ac38;
	margin-top: 14px;
}
#__mall_search_btn__{
	width:72px;
	height:44px;
	background:#23AC38;
	border: none;
	position: absolute;
	top: 50%;
	margin-top: -29px;
	margin-left: 4px;
}
.searchkey{
	height:28px;
/*	background: blueviolet;*/
}
.searchkey-a{
	font-size: 10px;
	color:#999999;
	text-decoration: none;
}
.topshopcart{
	width:140px;height:42px;
	background: #F9F9F9;
	position: relative;
	top:14px;
	float: right;
}
.header-gwc{
	width: 22px;height: 20px;
	background-image: url(img/head-icons.png);
	background-repeat: no-repeat;
	background-size: 50px;
	float: left;
	background-position-y:1px;
	margin-top: 10px;
    margin-left: 20px;
}
.header-cart{
	text-decoration: none;
	font-size: 13px;
	color: black;
	line-height:40px;
	float:right;
}
.header-cart-son{
	color: #CCCCCC;
}
.codeimgbox{
	width:70px;height:70px;
	background:aquamarine;
	float: right;
}
.code{
	width:70px;
}
.top-container{
	width:1260px;height: 50px;
	margin-top:100px;
}
.navbar-column-list-clearfix{
	width:720px;height:42px;
	background: #7FFFD4;
}
.top-item-topfirst{
	width:210px;height:42px;
	background:#363636;
	display: block;
}
.befores{
	width: 30px;height: 25px;
	background-image: url(img/head-icons.png);
	background-size:50px;
	background-repeat: no-repeat;
	background-position-y:-357px;
	background-position-x: -25px;
	
}

